<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="frame.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon Frame</title>
</head>
<body>
  <div id="app">
    <div id="container">
      <!-- <div class="title">
        <p>포켓몬 도감</p>
        <input type="text">
      </div>
      <div class="thumbnail">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/132.svg" alt="이미지를 불러올 수 없습니다...?">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/132.svg" alt="이미지를 불러올 수 없습니다...?">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/132.svg" alt="이미지를 불러올 수 없습니다...?">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/132.svg" alt="이미지를 불러올 수 없습니다...?">
      </div> -->
      <div class="detail">
        <div class="detailInfo">
          <div class="img">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/132.svg" alt="이미지를 불러올 수 없습니다...?">
          </div>
          <div class="info">
            <div><p>No. 001</p></div>
            <div><p>이상해씨</p></div>
            <div><p>태어났을 때부터 등에 식물의 씨앗이 있으며..</p></div>
          </div>
          <div class="type">
            <p>풀, 독</p>
          </div>
          <div class="height">
            <p>0.7m</p>
          </div>
          <div class="weight">
            <p>6.9kg</p>
          </div>
          <div class="gender">
            <p>수컷,암컷</p>
          </div>
          <div class="genus">
            <p>씨앗 포켓몬</p>
          </div>
          <div class="chara">
            <p>심록, 염록소</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>